<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
    <div id="card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Praktikum Pemrograman Mobile</ion-card-title>
          <ion-card-subtitle>Pertemuan 7</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Tambahkan Komponen Ionic manapun pada halaman utama, sertakan Nama dan NIM pada komponen tersebut sekreatif kalian.
        </ion-card-content>
      </ion-card>

      <!-- Custom Component with Name and NIM -->
      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="assets/img/logo1.png" />
        </ion-avatar>
        <ion-label>
          <h2>Muhammad Sultan Alhakim</h2>
          <p>NIM: H1D022105 - Role: Frontend Developer</p>
        </ion-label>
      </ion-item>

      <!-- Custom Component with Name and NIM -->
      <ion-item lines="full" color="light">
        <ion-avatar slot="start">
          <img src="assets/img/logo2.png" />
        </ion-avatar>
        <ion-label>
          <h2>Muhammad Sultan Alhakim</h2>
          <p>NIM: H1D022105 - Role: Backend Developer</p>
        </ion-label>
      </ion-item>

      <!-- Custom Component with Name and NIM -->
      <ion-item lines="none" color="primary">
        <ion-avatar slot="start">
          <img src="assets/img/logo3.png" />
        </ion-avatar>
        <ion-label>
          <h2>Muhammad Sultan Alhakim</h2>
          <p>NIM: H1D022105 - Role: UI/UX Designer</p>
        </ion-label>
      </ion-item>

    </div>
  </div>
</ion-content>
